html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}

.App {
  text-align: center;
}
#nav-bar{
  background-color: rgb(147, 160, 160);
  height: 3em;
}
#review-list{

}
.review-card{
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
  border: 10px solid black;
}
.review-card-img{
  height: 150px;
}
.review-info{
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
  max-width: 70vw;
}

